<div class="">
    <div class="text-center row">
        <div class="col-6 mt-5">
            <form style="background-color: rgba(22, 57, 122, 0.385); border-radius: 20px;" action="" class="mt-2 p-3 container w-75 text-center">
            <h1 class="text-center p-5" style="color: white;">Create Account</h1>

            <div class="p-2 mt-2">
                <input id="a1" name="acno" style="border: none;" class="form-control mt-2 p-2" type="text" placeholder="enter account number">

            </div>
            <div class="p-2 mt-2">
                <input id="u1" name="uname" class="form-control mt-1 p-2" type="text" placeholder="enter username">

            </div>
            <div class="p-2 mt-2">
                <input id="p1" name="password" class="form-control mt-1 p-2" type="password" placeholder="enter password">

            </div>
            <div class="p-2 mt-2">
                <input id="cp1" name="password1" class="form-control mt-1 p-2" type="password" placeholder="confirm password">

            </div>

            <button type="submit" class="btn btn-outline-light mt-2 p-2">Create</button>

            </form>
        </div>
        <div class="col-6 mt-5">
            <img style="height: 300px;" src="https://i.postimg.cc/gk5RhhRm/istockphoto-1368593225-10667a.jpg" alt="">

        </div>
    </div>
</div>
